<h1 id="edit-heading">Edit</h1>

  <form name="edit-form" method="POST" action="/animals/<%= @animal.id %>">
    <div class="form-wrapper">

      <div class="form-el">
        <label for="name">Name:</label>
        <input type="text" required name="name" id="name" value="<%= @animal.name %>"/>
      </div>

      <div class="form-el">
        <label for="age">Age:</label>
        <input type="text" required name="age" id="age" value="<%= @animal.age %>"/>
      </div>

      <div class="form-el">
        <label for="species">Species:</label>
        <input type="text" required name="species" id="species" value="<%= @animal.species %>"/>
      </div>

      <div class="form-el">
        <label for="breed">Breed:</label>
        <input type="text" required name="breed" id="breed" value="<%= @animal.breed %>"/>
      </div>

      <div class="form-el">
        <label id="sex-label" for="sex">Sex:</label>

        <label id="male" for="male">Male<input type="radio" name="sex" id="male" checked></label>

        <label for="female" id="female">Female<input type="radio" name="sex" value="female" id="female"></label>
      </div>

      <div class="form-el">
        <label for="admission_date">Admission Date:</label>
        <input type="date" required name="admission_date" id="admission_date" value="<%= @animal.admission_date %>"/>
      </div>

      <div class="form-el">
        <label for="availability">Availability:</label>
        <select name="availability">
        <option value="Available">Ready For Adoption</option>
        <option value="not_ready_for_adoption">Not Ready For Adoption</option>
        <option value="Adopted">Adopted</option>
        </select>
      </div>


      <label id="description-label" for="pet_description">Description</label>
      <textarea id="pet-description-box" name="pet_description" rows="8" cols="80"><%= @animal.pet_description%></textarea>


      <div class="form-el">
        <label for="image_url">Image Url:</label>
        <input type="text" name="image_url" id="image_url" value="<%= @animal.image_url %>"/>
      </div>

      <input id="submit-button--edit" type="submit" value="Submit">

    </form>
