<h1>Look at all the animals!</h1>

<h4><a href="animals/new">Add New Animal</a></h4>

<div id="top_nav">
  <ul><% for species in @specieses %>
    <li><a href="/animals/species/<%= species %>"><%= species %></a></li>
    <% end %>
  </ul>
</div>

<div id="availability_nav">
  <ul>Sort by availability
    <li><a href="/animals/available">Available</a></li>
  </ul>
</div>


<form action="/animals/species/<%= species %>" method="post">
  <select name="species">
    <% for species in @specieses%>
    <option value="<%= species %>"><%= species %></option>
    <% end %>
  </select>

  <input type="submit" value="select by species">
</form>






<div id="animal-wrapper">
  <% for animal in @animals %>
  <div class="animal">
    <img src="<%= animal.image_url%>" alt="A photo of <%= animal.name %>">
    <h3><%= animal.name %></h3>
    <p>Age: <%= animal.age %></p>
    <p>Species: <%= animal.species %></p>
    <p>Availability: <%= animal.availability %></p>
    <a href="animals/<%= animal.id %>">View more info</a>
  </div>
  <% end %>
</div>
