<h2><%= @animal.name %></h2>



<div class="animal-url--show">
  <img src="<%= @animal.image_url %>" alt="A photo of <%= @animal.name %>">
</div>

<div class="animal-text-box--show">

<p>Age: <%= @animal.age %></p>
<p>Species: <%= @animal.species %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Sex: <%= @animal.sex %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Availability: <%= @animal.availability %></p>
  <p>Owner: <a href="/owners/<%= @animal.owner_id %>"><%= @animal.owner_name %></a></p>
<p>Description: <%= @animal.pet_description %></p>
<a href="/animals/ <%= @animal.id %>/edit">Edit</a>

</div>


<form action="/animals/ <%= @animal.id %>/delete" method="post">
<input type="submit" value="delete">

</form>
