<h1>This is lots of information about the individual pet</h1>

<h2><%= @animal.name %></h2>

<p>Age: <%= @animal.age %></p>
<p>Species: <%= @animal.species %></p>
<p>Breed: <%= @animal.breed %></p>
<p>Sex: <%= @animal.sex %></p>
<p>Admission Date: <%= @animal.admission_date %></p>
<p>Availability: <%= @animal.availability %></p>
<p>Description: <%= @animal.pet_description %></p>
<a href="/animals/ <%= @animal.id %>/edit">Edit</a>

<form action="/animals/ <%= @animal.id %>/delete" method="post">
<input type="submit" value="delete">

</form>
