<h2><%= @animal.name %></h2>

<div class="animal-info--show">



  <div class="animal-url--show">
    <img  id="image--show" src="<%= @animal.image_url %>" alt="A photo of <%= @animal.name %>">
  </div>

  <div class="animal-text-box--show">

  <p> Age: <%= @animal.age %></p>
  <p>Species: <%= @animal.species %></p>
  <p>Breed: <%= @animal.breed %></p>
  <p>Sex: <%= @animal.sex %></p>
  <p>Admission Date: <%= @animal.admission_date %></p>
  <p>Availability: <%= @animal.availability %></p>
    <p>Owner: <a href="/owners/<%= @animal.owner_id %>"><%= @animal.owner_name %></a></p>
  <p>Description: <%= @animal.pet_description %></p>
  <button class="pure-button pure-button-active" id="edit-button" type="button"><a id="edit-button-text" href="/animals/<%=  @animal.id%>/edit">Edit</a></button>

  </div>

</div>


<form id="delete-button" action="/animals/ <%= @animal.id %>/delete" method="post">
<input id="delete-button--button" type="submit" value="Delete">

</form>
