<h1>Look at all the animals!</h1>

<h4><a href="animals">Add New Animal</a></h4>
<!-- <h3>
  <form method="GET" action="submit">
    <input type="text" name="species" value="">
    <input type="submit" value="species">
  </form>
</h3> -->

<div id="animal-wrapper">
  <% for animal in @animals %>
  <div class="animal">
    <h3><%= animal.name %></h3>
    <p>Age: <%= animal.age %></p>
    <p>Species: <%= animal.species %></p>
    <p>Availability: <%= animal.availability %></p>
    <a href="animals/<%= animal.id %>">View more info</a>
  </div>
  <% end %>
</div>
