<h1>Adoptions</h1>

<h4><a id="new-animal-button" href="adoptions/new">Add New Adoption</a></h4>

<div id="adoption-wrapper">
  <% for adoption in @adoptions %>
  <div class="adoption">
    <h3><%= adoption.id %></h3>
    <% owner = Owner.find_owner_by_id(adoption.owner_id) %>
    <% animal = Animal.find_animal_by_id(adoption.animal_id) %>
    <p>Owner: <%= owner.name %></p>
    <p>Animal: <%= animal.name %></p>
    <p>Adoption Date: <%= adoption.adoption_date %></p>
    <a href="adoptions/<%= adoption.id %>">View more info</a>
  </div>
  <% end %>
</div>
