<h1>Edit Owner</h1>

<form method="POST" action="/owners/<%= @owner.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= @owner.name %>"/>
    </div>

    <div class="form-el">
      <label for="age">Age:</label>
      <input type="text" name="age" id="age" value="<%= @owner.age %>"/>
    </div>

    <div class="form-el">
      <label for="contact_number">contact_number:</label>
      <input type="tel" name="contact_number" id="contact_number" value="<%= @owner.contact_number %>"/>
    </div>

    <div class="form-el">
      <label for="address_1">Address 1:</label>
      <input type="text" name="address_1" id="address_1" value="<%= @owner.address_1 %>"/>
    </div>

    <div class="form-el">
      <label for="address_2">Address 2:</label>
      <input type="text" name="address_2" id="address_2" value="<%= @owner.address_2 %>"/>
    </div>

    <div class="form-el">
      <label for="city">City:</label>
      <input type="text" name="city" id="city" value="<%= @owner.city %>"/>
    </div>

    <div class="form-el">
      <label for="post_code">Post Code:</label>
      <input type="text" name="post_code" id="post_code" value="<%= @owner.post_code %>"/>
    </div>

    <input type="submit" value="Submit">

  </form>
