<h1>Info on the Owner</h1>

<h2><%= @owner.name %></h2>

<p>Age: <%= @owner.age %></p>
<p>Contact Number <%= @owner.contact_number %></p>
<p>Address 1: <%= @owner.address_1 %></p>
<p>Address 2: <%= @owner.address_2 %></p>
<p>City: <%= @owner.city %></p>
<p>Post Code: <%= @owner.post_code %></p>

<a href="/owners/ <%= @owner.id %>/edit">Edit</a>

<form action="/owners/<%= @owner.id %>/delete" method="post">
<input type="submit" value="delete">

</form>
